resources:
- ../default

images:
- name: quay.io/spectrocloud-labs/oci-validator:latest
  newTag: dev

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: controller-manager
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      labels:
        control-plane: controller-manager
      name: controller-manager
      namespace: validator-plugin-oci-system
    spec:
      template:
        spec:
          containers:
          - name: manager
            args:
            - while true; do sleep 30; done;
            command:
            - /bin/bash
            - -c
            - --
            imagePullPolicy: IfNotPresent
- target:
    group: apps
    version: v1
    kind: Deployment
    name: controller-manager
  patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/resources"
      value: null
    - op: replace
      path: "/spec/template/spec/containers/0/livenessProbe"
      value: null
    - op: replace
      path: "/spec/template/spec/containers/0/readinessProbe"
      value: null
    - op: replace
      path: "/spec/template/spec/containers/0/securityContext"
      value: null
    - op: replace
      path: "/spec/template/spec/securityContext"
      value: null
