controllerManager:
  manager:
    args:
    - --health-probe-bind-address=:8081
    - --metrics-bind-address=:8443
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: quay.io/validator-labs/validator-plugin-oci
      tag: v0.3.4  # x-release-please-version
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP

# Optional environment variable configuration
env: []
# - name: HTTP_PROXY
#   value: http://192.168.1.100:8080
# - name: HTTPS_PROXY
#   value: http://192.168.1.100:8080
# - name: NO_PROXY
#   value: foo.bar.com,127.0.0.1

# Optional proxy configuration. If enabled, the secret containing your proxy CA certificate
# will be mounted in the manager container and configured via an init container.
proxy:
  enabled: false
  # The image used by the init container. Must include the update-ca-certificates command.
  image: quay.io/validator-labs/validator-certs-init:latest
  # The name of a secret containing a proxy CA certificate.
  # WARNING: the key whose value is the CA certificate must end with '.crt'.
  secretName: proxy-cert
